#headerMobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100vw;
  max-width: 720px;
}

#logoMobileContainer {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: start;
  margin: 10px;
}

#locationMobileContainer {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: end;
  margin: 10px;
}
