.mainSideContainer {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 3;
  background-color: rgba(34, 34, 34, 0.5);
}

#close {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 30px;
  transition: all 0.2s;
  cursor: pointer;
}

#close:hover {
  opacity: 0.6;
  transition: all 0.2s;
}
