.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 124px;
  height: 100vh;
  max-height: 963px;
}

@media (max-width: 500px) {
  .mainContainer {
    margin-top: 55px;
    padding: 70px 0 70px 0;
  }
}
