#cart {
  position: relative;
  width: 49px;
  height: 35px;
}

#productCountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 1px;
  right: 2px;
}

#productCount {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 8px;
  color: white;
  width: auto;
  height: auto;
}
