#cart {
  position: relative;
  width: 56px;
  height: 40px;
}

#productCountContainer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: -3px;
  right: -3px;
  width: 19px;
  height: 18px;
}

#productCount {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 11px;
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  position: absolute;
  background-color: #ff0000;
  border: 1px solid black;
  text-align: center;
  border-radius: 50%;
  padding: 2px;
  min-width: 16px;
  min-height: 16px;
  max-width: 30px;
}
