#cart {
  position: relative;
  width: 56px;
  height: 40px;
}

#productCountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 15px;
  top: 0px;
  right: 2px;
}

#productCount {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 10px;
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
}
