.headerContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #989898;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.headerInnerContainer {
  display: flex;
  width: 100vw;
  max-width: 2880px;
  flex-direction: column;
  position: relative;
}
