.infoContainer {
  display: flex;
  gap: 30px;
  margin: 0 0 0 50px;
}

.countButton {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 14px;
  cursor: pointer;
}
.productContainer {
  width: 100%;
  padding: 0 0 0 0;
  margin: 30px 0 60px 0;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 0.5fr;
}

#title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}

#counter {
  display: flex;
  align-items: center;
}

#countText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 40px;
  height: 40px;
  text-align: center;

  border: 0;
  outline: 0;
}

#price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 0 10px 0 10px;
  margin: 20px 0 0 0;
}

#counterContainer {
  margin: 20px 0 0 20px;
}

#trash {
  scale: 0.7;
  fill-opacity: 0.2;
  transition: fill-opacity 0.3s;
  cursor: pointer;
}

#trash:hover {
  fill-opacity: 0.6;
  transition: fill-opacity 0.3s;
}

#iconContainer {
  display: flex;
  padding: 10px 0 0 5px;
  gap: 5px;
}
