.description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 0 0 0;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 35px 0 0 0;
}

.descriptionContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 16px 16px 16px;
}

.detail {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

#sectionGlyf {
  cursor: pointer;
}

@media (max-width: 425px) {
  .descriptionContainer {
    width: 250px;
    height: 250px;
  }
  .description {
    font-size: 16px;
  }

  .title {
    font-size: 18px;
  }
}
