.button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #797979;
  transition: all 0.3s;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 70%;
  justify-content: space-around;
}
#submitBtn {
  min-width: 180px;
  max-width: 250px;
  padding: 15px 20px 15px 20px;
  border: 0px solid #d9dde3;
  background-color: #e3e3e3;
  border-radius: 12px;
  align-self: center;
}

#submitBtn:hover {
  background-color: #0d69e2;
  color: rgb(255, 255, 255);
  transition: all 0.3s;
}
