.productContainer {
  width: 100%;
  padding: 0 0 0 0;
  margin: 30px 0 30px 0;
}

#bodyContainer {
  width: 100%;
  max-width: 2048px;
  padding: 200px 0 0 0;
}

#bodyInnerContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

#cartContainer {
  width: 80vw;
}
