.mainLocationContainer {
  height: auto;
  width: 20%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  padding: 8px 0 8px 0;
  position: relative;
}

.innerLocationContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 100%;
}

#locationPoint {
  width: 22px;
  height: 26px;
  background: #ffffff;
}

p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #000000;
  margin: 0px;
}

@media (max-width: 425px) {
  .locationContainer {
    width: auto;
  }
}
