.cardContainer {
  width: 310px;
  height: 470px;
  margin: 20px;
  background-color: white;
  background: #ffffff;
  border-radius: 24px;
  justify-self: center;
  transition: all 0.3s;
  z-index: 0;
  cursor: pointer;
}

.cardContainer:hover {
  transform: scale(1.1);
}

.cardContainer:hover {
  background-color: #f7f7f7;
  transition: all 0.3s;
}

.cardInfo {
  margin: 0 25px 0 25px;
}

.toCartContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.toCartButton {
  background: #eeeeee;
  border-radius: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 9px 32px 9px 32px;
  color: #000000;
  transition: all 0.3s;
}

.isAtCartButton {
  background: #7f7f7fc3;
  color: white;
}

.toCartButton:hover {
  transition: all 0.3s;
  background: #7f7f7fc3;
  color: white;
}

#imageContainer {
  padding: 25px 25px 8px 25px;
}

#price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 0 0 5px 0;
}

#title {
  padding: 0;
}

#title:hover {
  text-decoration: underline;
}
