.shoppingCartContainer {
  display: flex;
  justify-content: end;
  margin-right: 30px;
  width: 20%;
  max-width: 200px;
}

#shoppingCart {
  max-width: 49px;
  max-height: 35px;
  cursor: pointer;
}
