.profileContainer {
  display: flex;
  flex-direction: row;
  width: 20%;
  max-width: 230px;
  justify-content: end;
}

.signinContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 12px;
  margin-right: 30px;
}

#cart {
  max-width: 55px;
  max-height: 40px;
  stroke-opacity: 1;
  cursor: pointer;
  transition: stroke-opacity 0.2s;
}

#cart:hover {
  stroke-opacity: 0.8;
  transition: stroke-opacity 0.2s;
}

#icon {
  height: 35px;
  width: 35px;
  stroke-opacity: 1;
  cursor: pointer;
  transition: stroke-opacity 0.2s;
}

#icon:hover {
  stroke-opacity: 0.8;
  transition: stroke-opacity 0.2s;
}
