.headerContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #989898;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerInnerContainer {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 10vh;
  max-height: 70px;
  min-height: 60px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}

.iconContainer {
  display: flex;
  flex-direction: column;
}
