.aboutContainer {
  background: url('background/about.png');
  display: flex;
  flex-direction: column;
  margin-top: 124px;
  height: 100vh;
  max-height: 963px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0 40px 0;
}

.aboutInnerContainer {
  height: 100%;
  margin: 40px 120px 40px 120px;
  position: relative;
}

.contactContainer {
  background: rgba(125, 125, 125, 0.28);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  width: 46%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
}

.contactTextContainer {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 65px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#contact {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 0;
}

#map {
  background: rgba(125, 125, 125, 0.28);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 46%;
  height: 60%;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 24px;
}
