#footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 46px 18px 46px;
}

#descriptionContainer {
  max-width: 710px;
}

#productByContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nicknameContainer {
  padding: 0 8px 0 0;
}

.footerText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 0;
  text-decoration: none;
}

.footerText:hover {
  text-decoration: underline;
}
