#locationWrapper {
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 24px 24px;
  width: 180px;
  height: auto;
  top: 38px;
  left: 8px;
  flex-direction: column;
}

#locationElementContainer {
  width: 100%;
  cursor: pointer;
}

#locationElementText {
  padding: 8px 20px 8px 20px;
}

#locationElementText:hover {
  text-decoration: underline;
}
