#productByContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 23px 0 0;
}

#nicknameContainer {
  padding: 0 8px 0 0;
}

.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 0;
  text-decoration: none;
}

.text:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .text {
    font-size: 10px;
  }
  #productByContainer {
    margin: 0 10px 0 0;
  }
}
