#root {
  background-color: rgb(238, 238, 238);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#bodyContainer {
  width: 100%;
  max-width: 2048px;
}
