.mainContainer {
  width: 28%;
  height: 50%;
  min-width: 15%;
  min-height: 30%;
  max-width: 320px;
  max-height: 320px;
  background: rgba(125, 125, 125, 0.28);
  border: 1px solid #ffffff;
  border-radius: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}

.mainContainer:hover {
  background: rgba(125, 125, 125, 0.5);

  transition: all 0.3s;
}

.description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 40px 0;
  padding: 0 0 0 0;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 35px 0 0 0;
}

.descriptionContainer {
  height: 100%;
  display: flex;
  margin: 35px 24px 0 24px;
}
